@import url("https://use.typekit.net/uqh5uhx.css");

html, body {
    background-color: rgb(21, 21, 26);
    font-family: "elza-text", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(230, 229, 226);
    height: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .nav-links {
    display: flex;
    gap: 2ch;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: rgb(0, 235, 196)
  }

  footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    color: rgb(175, 175, 175);
    border-top: 1px solid rgb(40, 40, 49);
    padding-top: 25px;
  }

  footer p {
    display: inline;
  }

  .footer-links {
    display: flex;
    gap: 2ch;
  }

  .publish-info {
    display: flex;
    justify-content: space-between;
  }

  button {
    font-family: inherit;
    font-size: inherit;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: solid 1px rgb(200, 200, 200);
    border-radius: .5em;
    padding: .5em 1em;
    background-color: rgb(250, 250, 250);
    transition: .15s;
  }

  .tag:hover {
      background-color: rgb(230, 230, 230);
      cursor: pointer;
  }

  html.dark {
    background-color: #161616;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }