---
---

<p>Hi, I’m a theme for Astro, an example of how you can use this starter to create a personal blog. If you want to know more about how you can customise me, add more posts, and make it your own, click on the github icon link below and it will take you to my repo.</p>