---
import Social from './Social.astro';
---
<footer>
    <div class="title">
        <p>Copyright © 2024 Cameron Getty</p>
    </div>
    <div class="footer-links">
        <Social platform="github" username="cjgetty" />
        <Social platform="linkedin" username="cjgetty" />
        <Social platform="instagram" username="cjgetty" />
    </div>
</footer>