---
import Social from './Social.astro';
---
<footer>
    <div class="title">
        <p>Copyright © 2024 Cameron Getty</p>
    </div>
    <div class="footer-links">
        <Social platform="GitHub" username="cjgetty" />
        <Social platform="LinkedIn" username="cjgetty" />
        <Social platform="Instagram" username="cjgetty" />
    </div>
</footer>